.token-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.token-wrapper button {
  width: 9%;
  padding: 10px;
  background-color: #3385ff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}